@import "tailwindcss";

/* enable class-based dark mode for theme toggling because tailwind v4 defaults to media-based */
@custom-variant dark (&:where(.dark, .dark *));

/* custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(255, 105, 0, 0.5);
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgb(255, 105, 0, 0.8);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 105, 0, 0.5) transparent;
}

/* highlight color change */
@layer base {
  ::selection {
    @apply bg-orange-200 text-orange-900;
  }

  .dark ::selection {
    @apply bg-orange-900 text-orange-200;
  }
}
