node_modules/
dist/
dist-ssr
*.local
.vite/

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

bin/
obj/
*.user
*.suo
*.cache
*.log

app.db
*.db
*.db-wal
*.db-shm

.env.*
!.env.example

.vscode/
.idea/
.DS_Store
Thumbs.db

tests/
doc.txt